body[data-theme="babyBlue"] {
    .home-page {
        .home-area {
            h1 {
                color: #4C70E0 !important;
            }
            button {
                background-color: #4C70E0 !important;
            }
            .feauters {
                .one {
                    background-color: #4062c5 !important;
                }
                .two {
                    background-color: #4B70E3!important;
                }
                .three {
                    background-color: #5782ff !important;
                }
                i {
                    color: #4C70E0 !important;
                }
                button {
                    color: #4C70E0 !important;
                    background-color: #ffffff !important;
                }
            }
        }
    }
    .team-page {
        span {
            color: #4C70E0 !important;
        }
        .team {
            background-color: #4C70E0 !important;
        }
    }
    .about {
        h3 {
            color: #4C70E0 !important;
        }
        .border {
            background-color: #4C70E0 !important;
        }
        button {
            color: #ffffff !important;
            background-color: #4C70E0 !important;
        }
    }
    .work {
        h1 {
            color: #4C70E0 !important;
        }
        .WorkOverlay {
            background-color: #4C70E0 !important;
        }
    }
    .build {
        .backgrounds {
            .background2 {
                background-color: #4C70E0 !important;
                .box {
                    h2 {
                        color: #4C70E0 i !important;
                    }
                    button {
                        color: #ffffff !important;
                        background-color: #4C70E0 !important;
                    }
                }
            }
        }
    }
    .praghrape {
        button {
            color: #ffffff !important;
            background-color: #4C70E0 !important;
        }
    }
    .Vision {
        background-color: #4C70E0 !important;
        button {
            color: #ffffff !important;
            background-color: #4C70E0 !important;
        }
    }
    .End {
        .head {
            h2 {
                color: #4C70E0 !important
            }
        }
        .container {
            .card {
                .left {
                    i {
                        background-color: #4C70E0 !important;
                    }
                }
                .right {
                    button {
                        color: #ffffff !important;
                        background-color: #4C70E0 !important;
                    }
                }
            }
            .EndOverlay {
                background-color: #4C70E0 !important;
            }
        }
    }
}